.App {
  text-align: center;
}

@media screen and (min-width:768px){
  .gallery {
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    background-color: #282c34;
    /* align-items: start; cada objeto tiene su tamaño dependiendo del contenido */
  }
}

body {
  background-color: #282c34;
}


.infocard {
  display: block;
  background:#fff;
  margin: auto;
  width: 50rem;
  height: 25rem;
  margin-top: 1.23rem;
  border-radius: 10px;
}
.nftimg {
  border-radius: 10px;
  float: left;
  max-height: 25rem;
  max-width: 25rem;
  object-fit: cover;
  padding-right: 1rem;
}

.info {
  padding-top: 1rem;
}

.btnBotero {
  cursor: pointer;
  border: none;
}

.btn4 {
  position: absolute;
  margin-left: 8rem;
  margin-top: 2rem;
}
.walletAddress {
  position: absolute;
  font-size: 18px;
  color: white;
  right: 0;
  margin-right: 9rem;
  margin-top: 1.20rem;
  border-style: solid;
  padding: 5px 12px;
  border-radius: 12px;
  display: block;
}

.gallery {
  display: block;
  margin: auto;
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.nftimage {
  display: block;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 15rem;
}

.nft{
  background:#fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  max-width: 15rem;
  max-height: 18rem;
}

.nft h1{
  margin-top: 0.5rem;
}

.nft h4{
  color: #6f6f6f;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

a {
  color: inherit;
}
.link {
  text-decoration: none;
}

.btn {
    border: none;
    color: #2f2f2f;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 1px 10px 1px black;
}

.divider {
  width: 5rem;
  height: auto;
  display: inline-block;
}

.divider1 {
  width: 2rem;
  height: auto;
  display: inline-block;
}

.btn1 {
    border: none;
    color: #2f2f2f;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 1px 10px 1px black;
}

.btn2 {
    position:absolute;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    border: none;
    color: #2f2f2f;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 1px 10px 1px black;
}

.btn3 {
    left: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    border: none;
    color: #2f2f2f;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 1px 10px 1px black;
}


.logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-fadein 3s;
  }
}

.intro {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sliderContainer {
  width: 25%;
  margin-bottom: 1rem;
}

.slider {
  -webkit-appereance: none;
  width: 100%;
  height: 20px;
  outline: none;
  box-shadow: 0px 1px 4px 1px black;
  cursor: pointer;
}


.inpt1{
    margin-bottom: 1rem;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    height: 2rem;
}


@keyframes logo-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
